* {
    color: #444;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: #f2f2f2;
}

nav {
    width: 100%;
    height: 64px;
    background-color: #6D5B97;
    margin-bottom: 32px;
    box-shadow: 0 2px 2px 0 #54496E;
}

nav ul li#logo {
    text-align: center;
    font-weight: bold;
    font-size: 2.0em;
    color: white;
    line-height: 2.0em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li.card-item {
    border-bottom: 1px solid rgba(225, 225, 225, 0.88);
    padding: 32px;
}

ul li.card-item:last-child {
    border-bottom: none;
}

ul li.card-item > a {
    color: #e96a63;
}

ul li.card-item p:last-child {
    margin: 10px 0 0 0;
}

h2 {
    margin: 8px 0 16px 0;
}

a {
    outline: 0;
    text-decoration: none;
}

a.button {
    color: #9b86be;
    font-size: 1.2em;
    margin-right: 24px;
}

a.button:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin: 10px 0 5px 0;
}

input[type=text], input[type=password] {
    width: 364px;
    font-size: 1em;
}

div.action-button {
    position: fixed;
    bottom: 24px;
    right: 24px;
    float: right;
    width: 56px;
    height: 56px;
    z-index: 997;
    background-color: #6D5B97;
    border-radius: 50%;
    box-shadow: 0 1px 2px 0 #54496E;
    text-align: center;
    cursor: pointer;
}

div.action-button a.button {
    color: #f2f2f2;
    font-weight: bold;
    line-height: 56px;
    font-size: 1.6em;
}

div.action-button a.button svg path {
    color: white;
}

svg path {
    color: #e96187;
    display: block;
}

.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.card {
    background-color: white;
    box-shadow: 0px 2px 2px 0px #bdbdbd;
    padding-bottom: 8px;
    margin-bottom: 32px;
}

.card .card-main {
    padding: 10px 32px;
}

.card div.hrule {
    height: 1px;
    background-color: rgba(225, 225, 225, 0.88);
    margin: 24px 0 16px 0;
}

.card textarea {
    width: 98.5%;
    height: 6em;
    display: block;
    padding: 8px;
    border: 1px solid rgba(224, 224, 224, 0.9);
    border-radius: 4px;
    resize: none;
    margin-bottom: 16px;
}

.card .card-actions {
    padding: 4px 32px;
}

.question-list {
    width: 100%;
}

.question-item {
}

.question-nods {
    padding: 32px;
    width: 0;
}

.question-nods * {
    color: #e96187;
    margin-left: auto;
    margin-right: auto;
    line-height: 100%;
}

.question-nods a.button div {
    color: #e96187;
    text-align: center;
    margin-top: 12px;
}


.question-text {
    font-size: 1.2em;
}

.question-date {
    font-size: 0.8em;
}

.question-content {
    padding-left: 16px;
    border-bottom: 1px solid rgba(225, 225, 225, 0.88);
}

.question-item:last-child .question-content {
    border: none;
}

.text-small {
    font-size: 0.8em;
}

.text-green {
    color: #66bb6a;
}

.text-yellow {
    color: #fdd835;
}

.text-orange {
    color: #ffa726;
}

.text-red {
    color: #e53935;
}
